[Unit]
Description=Backup Backrest Data
After=network.target

[Service]
Type=oneshot
ExecStart=/home/dpi0/scripts/homelab/backrest-config-backup.sh
User=root
Group=root
