[Unit]
Description=Turn off display few minutes after startup
After=network.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 300
ExecStart=/usr/bin/vbetool dpms off
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
